<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	<style>
	button{
		width: 120px;
		height: 30px;
	}
	</style>
</head>
<body>

	 <div class="row">
    <form class="col s12" method="POST" action="">
    	<h1 style="text-align: center;">Sign Up</h1>
      <div class="row">
        <div class="input-field col s6">
          <input  name="first_name" type="text" class="validate" placeholder="First Name" required>
        </div>
        <div class="input-field col s6">
          <input name="last_name" type="text" class="validate" placeholder="Last Name" required>
        </div>
			  </div>
				<div class="row">
					<div class="input-field col s12">
						<input placeholder="Email" name="email" type="email" class="validate" required>
					</div>
				</div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" name="password" type="password" maxlength="20" minlength="8" class="validate" required>
        </div>
      </div>
			<div class="row">
        <div class="input-field col s12">
          <input placeholder="Confirm Password" name="cpassword" type="password" maxlength="20" minlength="8" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" name="signup"> Sign Up</button>
        </div>
      </div>
	  <div class="row">
		{% if error != '' %}
          <p style="color:red;">* {{error}}</a></p>
		{% endif %}
      </div>
      <div class="row">
        <p style="text-align: center;">Already a Member? <a href="/signin">Sign In</a></p>
      </div>
    </form>
  </div>


</body>
</html>
