<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    </head>
    <body>
        <div class = "container">
            <div class = "row">
                <div class = "col l12">
                    <div class = "row">
                        <h5 class = "col l10 left-align">Hello {{ username }}</h5>
                        <a href = '/logout' class = "col l2 right-align" style="padding-top:1%;">Log out</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <form class = "col s12 l6" method = "POST">
                    <div class = 'row'>
                        <div class = 'input-field col l12'>
                            <input placeholder="Which book are you searching for" name = "searchB" id = "searchB" type = "text">
                        </div>
                        <div class = 'col l12 right-align'>
                            <button type="submit" name = "searchSubmit" class = "btn waves-effect waves-light btn-small" id = "searchSubmit">Search</button><br>
                        </div>
                    </div>
                </form>
            </div>
            <div class="main">
                <div class="sidenav">
                    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Sort</a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Low to High</a></li>
                        <li><a href="#!">High to Low</a></li>
                        <li><a href="#!">Popularity</a></li>
                        <li><a href="#!">Relavance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
