<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    </head>
    <body>
        <nav class = "cyan accent-4" role = "navigation">
            <div class = "nav-wrapper container">
                Hello {{ username }}
                <ul class = "right">
                    <li><a href = "/logout">Log out</a></li>
                </ul>
            </div>
        </nav><br><br>
        <div class = "container">
            <div class="row">
                <form class = "col s12 l6" method = "POST">
                    <div class = 'row'>
                        <div class = 'input-field col l12'>
                            <input placeholder="Which book are you searching for" name = "searchB" id = "searchB" type = "text">
                        </div>
                        <div class = 'col l12 right-align'>
                            <button type="submit" name = "searchSubmit" class = "btn waves-effect waves-light btn-small" id = "searchSubmit">Search</button><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
